body {
   font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
    margin:0;
    padding:0;
    width:100%;
}
#info_iframe { width: 100%; height: 100%;  }
a , .link{
	cursor:pointer;
	text-decoration: none;
	color: #FF0000 !important;
}
a:hover , .link:hover{
	color: #FF0000;
} 
.redbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #98231a;
	cursor:pointer;
}.redbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
}.redbutton:active {
	position:relative;
	top:1px;
}


.bluebutton {
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.bluebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.bluebutton:active {
	position:relative;
	top:1px;
}
.greybutton {
cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.greybutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.greybutton:active {
	position:relative;
	top:1px;
}

.loginbox {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	display: inline-block;
}

.dialoginfo
{
	width:100% !important ;
}

#page1 .actions .logout, #page2 .actions .logout {
	float:left;
	background: transparent url('../img/logout32.png') no-repeat 5px 5px ;
	width:40px;
	height:40px;
	cursor:pointer;
}
.submit {
	border:none;
	color:#fff;
	background: transparent  no-repeat top left;
	width:75px;
	height:20px;
}

input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: #339933;
}
#page1, #page2, #page3 {
	width:100%;
	background: #B5B3B4 url('../img/bgpage.jpg') repeat-y top center ;
	padding-bottom:20px;
}

.customtitle {
	font-family: 'Cutive', serif;
	padding:20px;
}

#page2 .customtitle {
	font-family: 'Cutive', serif;
	padding:0px;
	font-size:14px;
	line-height:17px;
	text-align:center;
}




.orderCandidatesName
{
	font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	margin:auto;
	font-size:12px;
	line-height:17px;
	text-align:center;
	width:200px;
	
}
.actions {
	height:20px;
}

.actions, .actions a {
	font-family: Arial,Helvetica, sans-serif;
	font-style:normal;
	font-size:13px;
	line-height:26px;
	background:#2559A1;
	margin:0;
	color:white;
	text-decoration:none;
	padding: 1px 0px 5px 1px;
}


.titlepage {
	font-family: 'Cutive', serif;
	font-style:italic;
	font-size:13px;
	margin:0;
	color:white;
	text-decoration:none;
	padding: 2px 10px 1px 0px;
	float:right;
}



.ptttxt {
	background-color: #FFFFFF; filter:alpha(opacity=90);-moz-opacity:0.5;opacity: 0.5;
	font-style:italic;
	font-size:10px;
	line-height:11px;
	padding-bottom:20px;
	padding-top:0px;
	color:black;
}

.ptttxt ul {
	font-style:italic;
	font-size:12px;
	line-height:14px;
	padding-bottom:20px;
	padding-top:20px;
}

.titre {
	font-style:italic;
	font-size:12px;
	line-height:14px;
	padding-top:20px;
	padding-bottom:20px;
}


.infocandidat {
	position:absolute;
	bottom:5px;
	right:5px;
	height:34px;
	width:34px;
	border:0;
}

.infoscrutin {
	height:24px;
	width:24px;
	cursor:pointer;
	padding-right:10px;
}

#boxinfo2 {
	font-size:10pt;
}


@media screen and (max-width: 700px) {
	#boxinfocontainer div:nth-child(1){
		width: 80% !important;
	}

	#boxinfo2 {
		width: 80% !important;
		max-height:100% !important;
	}
	
	#closeboxinfo {
		margin-right:10% !important;
	}
}

#closeboxinfo {
	margin-right:-40px;
	width:40px;
	height:40px;
	cursor:pointer;
	position:absolute;
	right:0;
	top:0;
}

.footer {
	background:#2559A1;
	width:100%;
	height:1px;
}

.clear {clear: both;}

