
#page1 ul.li {float:left; margin-left:120px;}

@media screen and (max-width: 700px) {
  #page1 .candidat  {
  	width:90% !important;

  }
  #page1 .candidats  {
  	margin:0 !important;
		padding:0 !important;
  }
  #page1   {
  	margin:0 !important;
		padding:0 !important;
  }
}
#page1 .candidats {
	 width:630px;
  	margin:auto;
  		padding-right:10px;
	padding-left:10px;
	padding-bottom:20px;
}
@media screen and (max-width: 700px) {
  #page1 .candidats   {
  	width:95% !important;
  	margin:auto;
  	overflow:hidden;
  	padding-bottom:20px;
  }
}

#page1 .candidat {
	float: left;
	position:relative;
	cursor: pointer;
	width: 180px;
	margin: 5px 5px 5px 5px;
	padding: 5px 10px 5px 5px;
	background-color: #F6F7F9;
	border: 1px solid #F6F7F9;
}
#page1 .candidat.selected {
	background-color: #D3DAE8;
}
#page1 .candidat:hover {
	border: 1px solid #D3DAE8;
}
#page1 .candidat .name {
	margin: 5px 0 0 60px;
	font-weight: 300;
}
#page1 .candidat div.pic {
	display: inline-block;
	float: left;
}
#page1 .candidat div.pic {
	width: 72px;
	height: 72px;
}
#page1 .candidat.active div.pic {
	background-position: 0px 0px;
}
#page1 .candidat div.pic {
	background-position: 0px -50px;
}