<html>
<head>
  <title>democrazy</title>
</head>
<body style="width:100%;">
<div id="dialog" align="center" style="font-family: Gill Sans MT,Gill Sans,Verdana,sans-serif;
    font-size: 12pt;   background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 3px 7px #333333;
    max-width: 75%;
    min-height: 50px;
    min-width: 200px;

    z-index: 99999999;
    margin:auto;
    padding:0;" title="Democrazy authentification...">
<p style="background:white; width:100%; margin:0; padding:0;">  <img src="/img/logo62.png" style="margin:0; padding:0 0 3px 0; font-weight:bold;"></p>
<p style="margin:0; padding:0 0 3px 0; font-weight:bold;">Votre vote a bien été pris en compte.</p>
<p style="font-style:italic; font-size:11pt;">Merci de votre int&eacute;r&ecirc;t pour notre projet!</p>
</div>
</body>
</html>
