<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta property="og:title" content="Democrazy"/>
      <meta property="og:type" content="article"/>
      <meta property="og:image" content="http://democrazy.fr/img/logo1024.png"/>
      <meta property="og:url" content="http://democrazy.fr"/>
      <meta property="og:site_name" content="democrazy">

      <link rel="icon" type="image/png" href="favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

     <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>democrazy</title>

  <!-- add font from google -->
  <link href='http://fonts.googleapis.com/css?family=Cutive&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="boxinfocontainer2">
    <div id="boxinfo2">
    Democrazy 2012 est une application proposant de tester différents modes de scrutin à partir du même suffrage. L’objectif est ainsi de comparer les résultats du scrutin lorsque l’on change de système électoral.<br><br>
Nous proposons de comparer cinq différents modes de scrutin suivants.<br><br>
<b>Scrutin à un seul tour</b><br>
Le candidat qui obtient le plus de voix dès le premier tour est élu.<br><br>
<b>Scrutin majoritaire à deux tours</b><br>
C’est le système actuel prévu par la constitution française : sauf majorité absolue, les deux meilleurs candidats au premier tour s’affrontent au second tour. Le candidat qui obtient le plus de suffrages est élu. Dans Democrazy, on demande aux internautes de désigner leur candidat de premier tour en tout premier lieu, afin de tester ce scénario sans influencer les électeurs dans l’expérimentation.<br><br>
<b>Scrutin par élimination</b><br>
Le candidat qui obtient le moins de suffrages est éliminé. Ses voix sont alors reportées sur d’autres candidats, selon la préférence des électeurs. Et ainsi de suite. En pratique, il n’y a pas besoin d’effectuer plusieurs tours. Ainsi, dans Democrazy, nous utilisons le classement effectué par chaque électeur pour désigner le vainqueur dans ce mode de scrutin.<br><br>
<b>Scrutin par la méthode Borda</b><br>
Les électeurs notent chaque candidat, par ordre de préférence. Le candidat favori obtient 10 points, le second empoche deux points et ainsi de suite. Le candidat qui obtient le plus de points au total est élu.<br><br>
<a href="http://fr.wikipedia.org/wiki/M%C3%A9thode_Borda">http://fr.wikipedia.org/wiki/M%C3%A9thode_Borda<br></a><br>
<b>Scrutin par la méthode de Condorcet</b><br>
La méthode de Condorcet est un système de vote dans lequel l'unique vainqueur est celui qui, comparé tour à tour à tous les autres candidats, s'avérerait à chaque fois être le candidat préféré.<br><br>
<a href="http://fr.wikipedia.org/wiki/M%C3%A9thode_Condorcet">http://fr.wikipedia.org/wiki/M%C3%A9thode_Condorcet</a><br><br>
<b>Pourquoi cette application ?</b><br>
Dans la lignée de cette vidéo :<br>
<a href="http://www.youtube.com/watch?v=B2JvW8ma9Vc&feature=youtu.be">http://www.youtube.com/watch?v=B2JvW8ma9Vc&feature=youtu.be</a><br>
L’objectif de cette application est de sensibiliser par l’expérience nos concitoyens sur le fait que du système électoral dépend en majeure partie le résultat du scrutin.<br>
    </div>
</div>
</body>
</html>
